<h2 mat-dialog-title>Roles y permisos</h2>

<mat-dialog-content>

  <mat-accordion>

    <mat-expansion-panel *ngFor="let role of roles">
      
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ role.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let permission of role.permissions">
          <div mat-line>{{ permission.name }}</div>
          <div mat-line class="mat-caption">{{ permission.description }}</div>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>

  </mat-accordion>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>