<div class="d-flex flex-column min-vh-100">

  <app-header (toggleSidebar)="toggleSidebar()"></app-header>

  <app-breadcrumb></app-breadcrumb>

  <div class="flex-fill d-flex">

    <mat-drawer-container class="flex-fill w-100">

      <mat-drawer
        #drawer
        mode="side"
        [opened]="isSidebarOpen"
        class="sidebar"
        (openedChange)="onDrawerChange()"
      >
        <app-sidebar />
      </mat-drawer>

      <mat-drawer-content>
        <router-outlet />
      </mat-drawer-content>
      
    </mat-drawer-container>

  </div>

  <app-footer></app-footer>

</div>