.container {
  height: calc(100vh - 64px);
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 14.911rem;
  overflow: auto;
  padding: 1em;
  box-sizing: border-box;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 1em;
  box-sizing: border-box;
}