
@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
));

@include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}
